
    .bg {
    background-image: url("../assets/photo/vv.jpg");
    background-size: cover;
    }
    .bg2 {
        background-image: url("../assets/photo/4480.jpg");
        background-size: cover;
        }
        .bg3 {
            background-image: url("../assets/photo/752.jpg");
            background-size: cover;
            }